 <h1> All Games </h1>


 <%= link_to "New Game", new_game_path %>

 <% @games.each do |game| %>

 <%= game.title %>
 <%= game.system %>
 <%= game.year %>

 <%= link_to "Edit Game", edit_game_path(game) %>
 <%= link_to "Show Game", game_path(game) %>
 <%= link_to "Delete", game_path(game), method: :delete, data: {confirm: "Are you sure you want to delete"}%>



<% end %>
